<div>
  <div><h1>Welcome to My Note:ToDoList</h1></div>
  <div class="click-text" (click)="toggleForm()">
    Click here to add to ToDoList
  </div>
  <div *ngIf="formFlag">
    <form [formGroup]="Todoform" (ngSubmit)="onSubmit()" novalidate>
      <input
        class="mr-8"
        formControlName="title"
        type="text"
        placeholder="Type Title"
      />
      <input
        class="mr-8"
        formControlName="content"
        type="text"
        placeholder="Type Content"
      />
      <button type="submit" [disabled]="!Todoform.valid">Submit</button>
    </form>
  </div>
  <div class="todo-wrap">
    <div><h3>This is ToDoList</h3></div>
    <div *ngIf="todoList?.length == 0">Empty</div>
    <div class="list-items" *ngFor="let list of todoList">
      <div
        (click)="checkList(list._id)"
        [ngClass]="{
          'checked-text': !list.completed,
          'unchecked-text': list.completed
        }"
      >
        <span>{{ list.title }}:</span>
        {{ list.content }}
        <span
          (click)="deleteList(list._id); $event.stopPropagation()"
          class="delete-text"
          >Delete</span
        >
        <span
          class="update-text"
          (click)="updateList(list); $event.stopPropagation()"
          >Update</span
        >
      </div>
    </div>
  </div>
  <div *ngIf="updateFlag" class="update-wrap">
    <form [formGroup]="Updateform" (ngSubmit)="onUpdate()" novalidate>
      <input
        class="mr-8"
        formControlName="title"
        type="text"
        placeholder="Type Title"
      />
      <input
        class="mr-8"
        formControlName="content"
        type="text"
        placeholder="Type Content"
      />
      <button type="submit" [disabled]="!Updateform.valid">Submit</button>
    </form>
  </div>
</div>
