<div class="login-wrap">
  <img
    class="bg-img"
    src="./assets/images/120906-stickynotesandscrappaper.jpg"
  />
  <div class="login-container">
    <form [formGroup]="LoginForm" (ngSubmit)="onSignup()" novalidate>
      <input
        class="form-control mb-12"
        formControlName="name"
        type="text"
        placeholder="Type Username"
      />
      <input
        class="form-control mb-12"
        formControlName="password"
        type="password"
        placeholder="Type Password"
      />
      <input
        class="form-control mb-12"
        formControlName="email"
        type="email"
        placeholder="Type Email"
      />
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <button
          class="btn btn-primary mb-2"
          type="submit"
          [disabled]="!LoginForm.valid"
        >
          Signup
        </button>
        <span style="cursor: pointer" (click)="login()">Login</span>
      </div>
    </form>
  </div>
</div>
