.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.login-container {
  width: 400px;
  min-height: 200px;
  border: 1px solid #878787;
  padding: 20px;
  border-radius: 8px;
  background: white;
}
.mb-12 {
  margin-bottom: 12px;
}
.bg-img {
  position: absolute;
  width: 80%;
  z-index: -1;
}
