.todo-wrap {
  border: 1px solid black;
  margin-top: 40px;
  padding: 16px;
  background-color: white;
  box-shadow: 5px 10px #359397;
  background-color: white;
}
.click-text {
  cursor: pointer;
  color: blue;
  margin-top: 20px;
  display: flex;
}
.mr-8 {
  margin-right: 8px;
}
.checked-text {
  text-decoration: none;
  cursor: pointer;
}
.unchecked-text {
  text-decoration: line-through;
  cursor: pointer;
}
.list-items {
  margin: 12px 0px;
  min-height: 40px;
  border-bottom: 1px solid #d3d3d3;
}
.delete-text {
  color: red;
  cursor: pointer;
  /* float: right; */
}
.update-text {
  color: green;
  cursor: pointer;
  /* float: right; */
  margin-right: 12px;
}
.update-wrap {
  margin-top: 20px;
}
.todo-items {
  /* width: 70%; */
}
.item-flex {
  display: flex;
  justify-content: space-between;
}
.mb-8 {
  margin-bottom: 8px;
}
